* { 
    box-sizing: border-box; 
} 
 
body { 
    font-family: "Overpass", sans-serif; 
} 
 
.calculator { 
    background-color: #a51c30; 
    width: 90%; 
    max-width: 400px; 
    min-width: 300px; 
    position: relative; 
    padding: 0 40px; 
} 
 
.calculator h2 { 
    color: white; 
    padding: 30px 10px 20px 10px; 
    text-align: center; 
    font-size: 25px; 
} 
 
.flex-units { 
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    margin: -20px 0 30px 0px; 
    flex-wrap: wrap; 
} 
 
.us-units-btn, 
.metric-units-btn { 
    border: 1px solid black; 
    height: 45px; 
    width: 150px; 
    background-color: white; 
    text-align: center; 
    padding-top: 12px; 
    color: rgba(52, 52, 52, 0.97); 
    cursor: pointer; 
    font-weight: 600; 
} 
 
.flex-metrics { 
    display: flex; 
    flex-direction: column; 
    position: relative; 
} 
 
.metric-height span { 
    /* REMOVE DISPLAY NONE AFTER I'VE FIXED US METRICS */ 
    display: none; 
    position: relative; 
    font-size: 14px; 
    color: black; 
    left: 280px; 
    bottom: 30px; 
} 
 
.height, .weight { 
    color: white; 
    font-size: 15px; 
    font-weight: 500; 
} 

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* METRIC HEIGHT-WEIGHT INPUT FIELDS */
 
#height-input-field, 
#weight-input-field { 
    /* REMOVE DISPLAY NONE AFTER I'VE FIXED US METRICS */ 
    display: none; 
    border: 1px solid black; 
    width: 100%; 
    height: 40px; 
    color: black; 
    padding: 14px 5px; 
    margin-left: 0px; 
} 


/* US HEIGHT */

.us-height { 
    display: flex; 
    gap: 10px; 
} 

.height-field {
    position: relative;
    width: 50%;
}

/* US HEIGHT INPUT FIELD */

.height-field input {
    border: 1px solid black;
    height: 40px;
    width: 100%;
    color: black;
    padding: 14px 30px 14px 5px;
}

.height-field span {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 14px;
    color: black;
}


/* US WEIGHT */

.us-weight span { 
    position: relative; 
    font-size: 14px; 
    color: black; 
    left: 294px; 
    bottom: 30px; 
} 

#lbs-input-field { 
    border: 1px solid black; 
    width: 100%; 
    height: 40px; 
    color: black; 
    padding: 14px 5px; 
    margin-left: 0px; 
} 


/* METRIC WEIGHT */

.metric-weight span { 
    /* REMOVE DISPLAY NONE AFTER I'VE FIXED US METRICS */ 
    display: none; 
    position: relative; 
    font-size: 14px; 
    color: black; 
    left: 284px; 
    bottom: 30px; 
} 


/* BUTTONS */

.flex-buttons { 
    display: flex; 
    gap: 10px; 
    position: relative; 
    flex-wrap: wrap; 
    padding-bottom: 20px; 
} 
 
#calculateBtn { 
    width: 200px; 
    padding: 16px; 
    cursor: pointer; 
    background: #ffd700; 
    font-size: 16px; 
    font-weight: 600; 
    border: 1px solid transparent; 
    transition: 0.2s ease; 
} 
 
#calculateBtn:hover { 
    transform: translateY(-3px); 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
} 
 
#resetBtn { 
    width: 98px; 
    border: 1px solid transparent; 
    font-weight: 700; 
    background-color: #eee; 
} 
 
#resetBtn:hover { 
    background-color: #ddd; 
} 
 
.bmi-result { 
    display: none; 
} 
 
/* .us-height,  
.us-weight { 
    display: none; 
} */